<%- include("partials/header.ejs") %>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://charatoon.com/photo/3639.png" alt="" width="80">
        <span class="fs-4">Note Buddy</span>
      </a>
    </header>
</div>

<section id="book-section" class="container">
    <div class="type-section d-flex gap-3">
        <h3>Book Type</h3>
        <a href="/add">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
        </a>
    </div>
    <hr>

    <div class="container d-flex gap-5 justify-content-center">
        <div class="card">
            <div class="card-details">
              <p class="text-title">Book title</p>
            </div>
            <p class="text-body">Author</p>
            <p class="text-body text-end">Date</p>
            <button class="card-button">More info</button>
        </div>
        <div class="card">
            <div class="card-details">
              <p class="text-title">Book title</p>
            </div>
            <p class="text-body">Author</p>
            <p class="text-body text-end">Date</p>
            <button class="card-button">More info</button>
        </div>
        <div class="card">
            <div class="card-details">
              <p class="text-title">Book title</p>
            </div>
            <p class="text-body">Author</p>
            <p class="text-body text-end">Date</p>
            <button class="card-button">More info</button>
        </div>
        <div class="card">
            <div class="card-details">
              <p class="text-title">Book title</p>
            </div>
            <p class="text-body">Author</p>
            <p class="text-body text-end">Date</p>
            <button class="card-button">More info</button>
        </div>
    </div>
</section>

<div class="container text-end mt-5">
  <a href="" class="add-type">+ Book Type</a>

</div>

<%- include("partials/footer.ejs") %>
